[Desktop Entry]
Name=Vantablack
Comment=Autonomous Post-Quantum WAN Mesh Routing & SOCKS5 Egress
Exec=/usr/bin/ggn
Icon=vantablack
Terminal=false
Type=Application
Categories=Network;Security;VPN;
StartupWMClass=Vantablack
